/* Global Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Global styles */

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	background-color: #f9f9f9;
}
  
  a {
	color: #fff;
	text-decoration: none;
}

ul {
	list-style: none;
}

/* Header styles */

header {
	background-color: #CE0000;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	padding: 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

nav ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav ul li {
	margin-right: 20px;
}

nav ul li:last-child {
	margin-right: 0;
}

nav ul li a {
	font-weight: bold;
}

  .login-box {
    width: 400px;
    background-color: #fff;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
  }
  
  .login-box h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
  }
  
  .user-box {
    position: relative;
  }
  
  .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    outline: none;
  }
  
  .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: #999;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .user-box input:focus ~ label,
  .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #333;
    font-size: 12px;
  }
  
  .login-box a {
    display: inline-block;
    margin-top: 20px;
    color: #333;
    text-align: center;
  }
  
  .login-box input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .login-box input[type="submit"]:hover {
    background-color: #f2f2f2;
    color: #333;
  }
   
  footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}
  